@tailwind base;
@tailwind components;
@tailwind utilities;

#black-bg{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("https://assets-global.website-files.com/65675497339de7489174ba89/65676b7735c349b0df61792a_BG%20Pattern.svg");
    background-size: cover;

    /* Position the background image */
    background-position: center;

    /* Set the height of the background to 100vh */
    height: 100vh;
}
